#root {
    /* Primary */
    --softred: hsl(7, 99%, 70%);
    --yellow: hsl(51, 80%, 72%);
    --graphicdesign: hsl(167, 40%, 24%);
    --photographyText: hsl(198, 62%, 26%);
    --footer: hsl(168, 34%, 41%);

    /* Neutral */
    --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
    --Verydarkgrayisblue: hsl(213, 9%, 39%);
    --Darkgrayishblue: hsl(232, 10%, 55%);
    --Grayishblue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    --barlow: 'Barlow', sans-serif;
    --fraunces: 'Fraunces', serif;
}